
:root{
    --yellow:#c76356;
    --black:#2c2e3c;
    --white:#e2ddca;
    --light-bg:#eee;
    --border-bold:.5rem solid var(--yellow);
    --border-light:.2rem solid var(--black);
}

* {box-sizing:border-box}

.project h1{
    font-size: 5.5rem;
    border-bottom: var(--border-bold);
}

.project h2{
    font-size: 3rem;
}

h3{
    font-size: 4rem;
    margin: 7rem 0 2.5rem;
    background-color: var(--white);
}

.project p{
    font-size: 2.5rem;
    line-height: 2;
}

.project .used_skills .skills_container{
    font-size: 2.5rem;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content:center;
}

.project .used_skills .skills_container .box{
    background-color: var(--black);
    color: var(--white);
    padding: 2rem;
    border-radius: 5rem;
}

.project .project_videos .project_title{
    font-size: 5rem;
    text-transform: uppercase;
    margin: 5rem 0 3rem;
    padding-bottom: 1.5rem;
    border-bottom: var(--border-light)
}

.project .flex-container .box iframe{
    height: 40rem;
    width: 100%;
    object-fit: cover;
}

.project .project_videos .flex-container h4{
    font-size: 4rem;
    margin: 2rem 0;
}

/* Slideshow container */
.slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--white);
    background-color: var(--black);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide .next_page{
    text-align: center;
    padding: 2rem 0 0;
}

.slide .next_page ul{
    margin-top: 4rem;
    list-style: none;
}

.slide .next_page ul li{
    display: inline;
    padding: 2rem;
}

.slide .next_page a{
    font-size: 2rem;
    color: var(--yellow);
}

.slide .next_page a:hover{
    text-decoration: underline;

}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width:790px){
    .project h1{
        font-size: 4rem;
    }

    .project h2{
        font-size: 2.5rem;
    }

    .project h3{
        font-size: 3rem;
    }

    .project .project_videos .project_title{
        font-size: 3.5rem;
    }
}


@media(max-width:450px){
    .project .project_videos .flex-container .box iframe{
        height: auto;
        width: auto;
    }
    
}