
:root{
    --yellow:#c76356;
    --black:#2c2e3c;
    --white:#e2ddca;
    --light-bg:#eee;
    --border-bold:.5rem solid var(--yellow);
    --border-light:.2rem solid var(--black);
}

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    color: var(--black);
}

*::selection{
    background-color: var(--black);
    color: var(--white);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
}

html{
    font-size:62.5%;
    overflow: auto;
    scroll-behavior: smooth;
}
body{
    overflow:auto;
    transition: .2x linear !important;
}

body.active{
    padding-left: 35rem;
}

section{
    padding: 3.5rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.heading{
    margin-bottom: 3rem;
    text-align: center;
}

.heading span{
    text-transform: uppercase;
    font-size: 6.5rem;
    border-bottom: var(--border-bold);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border-light);
    background-color: var(--black);
    color: var(--white);
    font-size: 3rem;
}

.btn i{
    color: var(--white);
}

.btn:hover{
    background-color:var(--white);
    color:  var(--black);
}

.header{
    position: fixed;
    top:0; left: -35rem;
    height:100vh;
    background-color: var(--white);
    border-right: var(--border-bold);
    width: 35rem;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .2 liner !important;
    text-align: center;
}

.header .logo{
    text-transform: uppercase;
    border-bottom: var(--border-bold);
    font-weight: bolder;
    font-size: 4.5rem;
}

.header .navbar{
    width: 100%;
}

.header .navbar a{
    display: block;
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: .5rem;
}

.header .navbar a.active,
.header .navbar a:hover{
    background-color: var(--yellow);
}

.header .follow a{
    font-size: 3rem;
    margin:5px;
}

#menu-btn{
    position: absolute;
    top: 0; right: -5.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 3rem;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.header.active{
    left: 0;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100vh;
}

.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    height: 65rem;
    padding: 2rem;
    border: var(--border-light);
}

.home .content{
    flex: 1 1 40rem;
    padding: 1rem;
}

.home .content h3{
    text-transform: uppercase;
    font-size: 5rem;
    /* margin-bottom: .5rem; */
}

.home .content span{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    border: var(--border-light);
    background-color: var(--light-bg);
    text-transform: capitalize;
    margin: 2.5rem 0;  
}

.home .content p{
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.about .btn i{
    color: var(--yellow);
}

.about .biography p{
    margin: 2rem auto;
    max-width: 70rem;
    line-height: 2;
    font-size: 2.5rem;
}

.about .bio{
    margin-top: 1rem 0;
}

.about .bio h3{
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem;
    background-color: var(--light-bg);
    border: var(--border-light);
    font-size: 2.5rem;
    font-weight: normal;
    text-transform:  capitalize;
}

.about .bio h3 span{
    font-weight: lighter;
}

.about .skills h1{
    margin-top: 3.5rem;
}

.about .skills ul{
    list-style: none;
}

.about .skills ul li{
    display: inline;
    margin: 2.5rem;
}

.about .skills ul li img{
    height: 150px;
    padding: 1.5rem;
}

.project .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.project .box-container .box img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.project .box-container .box h3{
    margin: 1rem 0;
    font-size: 2rem;
}

.project .box-container .box span{
    font-size: 1.7rem;
}

.project .box-container:hover .box{
    opacity: .2;
}

.project .box-container .box:hover{
    opacity: 1;
}

.project .box-container .box ul li{
    display: inline;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--light-bg);
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.0;
    align-items: flex-start;
}

.services .box-container .box{
    padding:1rem 2rem;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.services .box-container .box .logo{
    padding-right: 2.5rem;
}

.services .box-container .box i{
    font-size: 8rem;
    margin-bottom: .5rem;
}

.services .box-container .box h3{
    margin: 1rem 0;
    font-size: 3rem;
    padding: 1rem;
    text-transform: capitalize;
}

.services .box-container .box p{
    line-height: 2;
    font-size: 2rem;
}

.education_experience .edu-exp{
    padding-top: 3rem;
}

.education_experience .edu-exp .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.education_experience .edu-exp .row .box-container{
    flex: 1 1 40rem;
}

.education_experience .edu-exp .row .box-container .title{
    padding: 1.5rem;
    font-size: 3rem;
    background-color:var(--yellow);
}

.education_experience .edu-exp .row .box-container .box{
    text-align: left;
    margin: 1.5rem 0;
    background-color: var(--light-bg);
    padding: 2rem;
}

.education_experience .edu-exp .row .box-container .box:hover {
    box-shadow: 2px 2px 8px;
}

.education_experience .edu-exp .row .box-container span{
    font-size: 2rem;
}

.education_experience .edu-exp .row .box-container .box h3{
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.education_experience .edu-exp .row .box-container .box p{
    line-height: 1.5;
    font-size: 1.7rem;
}

/* contact form style */
/* 
.contact form{
    max-width: 70rem;
    margin: 0 auto;
}

.contact form .box{
    width: 100%;
    padding: 1.4rem;
    font-size: 2rem;
    text-transform: none;
    border: var(--border-light);
    margin: 1rem 0;
    border-radius: 10px 10px 10px 10px;
}

.contact form textarea{
    height: 20rem;
    resize: none;
}

.contact form .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .flex .box{
    width: 49%;
} */

.contact .contact_info p{
    text-transform: none;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contact .contact_info span{
    font-size: 3rem;
    text-transform: none;
}

.contact .contact_info strong{
    text-transform: none;
}


.contact .box-container .box{
    padding: 2rem;
}

.contact .box-container .box .fab{
    font-size: 7rem;
    padding-left: 3rem;
}

.contact form .btn{
    border-radius: 10px 10px 10px 10px;
}

.credit{
    text-align: center;
    background-color: var(--white);
    padding: 3rem;
    font-size: 2rem;
    color: var(--black);
}


.credit span{
    color: darkred;
}



/* media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    body.active{
        padding-left: 0;
    }
}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .header.active{
        /* padding-top: 7rem; */
    }

    #menu-btn.fa-times{
        right:0;
    }

    .home img{
        height: auto;
        width: auto;
    }
    
    .heading span{
        font-size: 4.5rem;
    }

    .about .biography .bio h3{
        font-size: 2rem;
    }

    .about .skills ul li img{
        height: 100px;
    }

    .contact form .flex .box{
        width: 100%;
    }
}

@media(max-width:375px){

    html{
        font-size: 40%;
    }

    .header.active{
        padding-top: 5rem;
    }

    #menu-btn.fa-times{
        right:0;
    }

    .home img{
        height: auto;
        width: auto;
    }
    
    .heading span{
        font-size: 4.5rem;
    }

    .about .biography .bio h3{
        font-size: 2rem;
    }

    .about .skills ul li img{
        height: 70px;
    }

    .contact form .flex .box{
        width: 100%;
    }
}